.flag-img {
    width: 60px;
    margin: 0px 5px 5px 0;
    cursor: pointer;
}

.hidden-data {
    z-index: 2;
    visibility: hidden;
}

.flag {
    width: 100px;
    height: 100px;
    z-index: 5;
}

.flag-img:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.80);
    transform: scale(1.1);
}